<template>
    <div class="card" :style="{ color: textColor, backgroundColor: bgColor }">
        <h3>Numero: {{ props.id }}</h3>
        <h3>Marca: {{ props.Marca }}</h3>
        <h3>Modelo: {{ props.Modelo }}</h3>
        <p>Matricula: {{ props.Matricula }}</p>
        <button @click="Cambiar" v-if="!CambiarColor">Cambiar color</button>
        <button @click="restablecerColores" v-if="CambiarColor">Color anterior</button>
    </div>
</template>

<script lang="ts" setup>
    import type { ICar } from '@/interfaces/ICar'
    import { ref } from 'vue';

    const props = defineProps<ICar>();

    const originalTextColor = 'black';
    const originalBgColor = 'wheat';
    const textColor = ref(originalTextColor);
    const bgColor = ref(originalBgColor);
    let CambiarColor = false
    let ColorAnt = true

    const Cambiar = () => {
        textColor.value = 'white';
        bgColor.value = 'black';
        CambiarColor = true
        ColorAnt = false
    };

    const restablecerColores = () => {
        textColor.value = originalTextColor;
        bgColor.value = originalBgColor;
        CambiarColor = false
        ColorAnt = true
    };
</script>
    
<style scoped>
.card {
    width: 100%;
    border: 4px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}
button {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 30px;
    width: 90px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
}
</style>
