<template>
    <div class="container">
        <div class="lista-carros">
            <CarItem v-bind="car" v-for="(car, index) in carData" :key="index" />
        </div>
        <div class="formulario">
            <form @submit.prevent="agregarNuevoCarro">
                <div class="input-wrapper">
                    <input type="text" v-model="marca" placeholder="Marca" />
                </div>
                <div class="input-wrapper">
                    <input type="text" v-model="modelo" placeholder="Modelo" />
                </div>
                <div class="input-wrapper">
                    <input type="text" v-model="matricula" placeholder="Matricula" />
                </div>
                <button type="submit">Agregar Carro</button>
            </form>
        </div>
    </div>
</template>

<script lang="ts" setup>
    import CarData from '@/data/CarData';
    import CarItem from './CarItem.vue';
    import { ref } from 'vue';
    let siguienteId = 11;
    const carData = ref(CarData);
    const marca = ref('');
    const modelo = ref('')
    const matricula = ref('')
    
    const agregarNuevoCarro = () => {
        if (marca.value.trim()) {
        carData.value.push({
            id: siguienteId++,
            Marca: marca.value,
            Modelo: modelo.value, 
            Matricula: matricula.value, 
        });
        marca.value = '';
        modelo.value = '';
        matricula.value = '';
        }
    };
</script>
<style scoped>
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
    }
    
    .lista-carros {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
    }
    .formulario {
        width: 70%; 
        padding: 20px;
        margin-top: 40px;
        margin-left: 700px;
        text-align: center;
    }
    .input-wrapper {
        margin-bottom: 10px;
    }
    
    input{
        width: 200px;
        height: 30px;
        border-radius: 50px;
        border: none;
        background-color: cadetblue;
    }
    input::placeholder{
        color: black;
    }
    button {
        display: block;
        width: 60%;
        height: 30px;
        border-radius: 20px;
        border: none;
        margin-top: 10px;
        background-color: thistle;
        margin-left: 100px;
    }
</style>
